.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.0/Highrises
bin/Debug/netcoreapp3.0/Highrises.deps.json
bin/Debug/netcoreapp3.0/Highrises.dll
bin/Debug/netcoreapp3.0/Highrises.pdb
bin/Debug/netcoreapp3.0/Highrises.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/Highrises.runtimeconfig.json
bin/Debug/netcoreapp3.0/nunit.framework.dll
obj/Highrises.csproj.nuget.cache
obj/Highrises.csproj.nuget.dgspec.json
obj/Highrises.csproj.nuget.g.props
obj/Highrises.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp3.0/Highrises
obj/Debug/netcoreapp3.0/Highrises.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/Highrises.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/Highrises.assets.cache
obj/Debug/netcoreapp3.0/Highrises.csproj.CopyComplete
obj/Debug/netcoreapp3.0/Highrises.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/Highrises.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/Highrises.dll
obj/Debug/netcoreapp3.0/Highrises.pdb
